.jumbotron {
	background-color: #37003c;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
    background-image: url(../img/page-hero.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.jumbotron h1 {
	font-weight: 600;
}

.jumbotron p {
	font-size: 30px;
	letter-spacing:2px;
	font-weight: bold;
}

.jumbotron p.small {
	font-size: 12px;
}

h1 {
	margin-top: -20px;
}

#mainLogo {
	max-height: 120px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.fixtures {
	border-top: 1px solid #e8e8e8;
	color: #242424;
	font-size: 18px;
	padding: 1rem 4rem 1rem 1rem;
}

.fixtures:hover {
	background-color: #37003c;
	color: #fff;
}

.fixtures:last-of-type{
	margin-bottom: 30px;
}

.fixtures .badge-25 {
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
}

.date {
	/*color:#646464;*/
	margin-right: 15px;
	font-size: 14px;
	display: inline-block;
	min-width: 180px;
}

.matchDay {
	font-weight: 600;
}

.team.home {
	text-align:right;
	min-width: 250px;
    display: inline-block;
}

.team.away {
	min-width: 350px;
    display: inline-block;
}

.team.teamLabel {
	min-width: 250px;
    display: inline-block;
}

.teamName {
	font-weight: 600;
	letter-spacing: 1px;
}

.versus {
    display: inline-block;
    /* width: 30px; */
    margin: 0 15px 0 15px;
    text-align: center;
    /* font-weight: 600; */
    background-color: #ff005a;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
}

.teamBadge {
	display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    margin: 0 5px;
}

.tv {
	display: inline-block;
    width: 70px;
    height: 30px;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
    margin: 0 25px 0 0;
}

.odds {
	display: inline-block;
	min-width: 30px;
	padding: 3px;
	border-radius: 4px;
	font-size: 11px;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 1px #aaa;
}

.homeOdds {
	/*background-color: #449D44;*/
	/*background-color: #00FF87;*/
	background-color: #5bd25b;
}

.awayOdds {
	/*background-color: #286090;*/
	/*background-color: #05F1FF;*/
	background-color: #4ba3ef;
}

.drawOdds {
	background-color: #bebebe;
}

.tabData {
	/*color:#646464;*/
	margin-right: 15px;
	font-size: 14px;
	display: inline-block;
	min-width: 30px;
}


.tv.bt {
	background-image: url(../img/bt.png);
}

.tv.sky {
	background-image: url(../img/sky.png);
}

.teamBadge.arsenal {
	background-image: url(../img/badges/arsenal.png);
}

.teamBadge.bournemouth {
	background-image: url(../img/badges/bournemouth.png);
}

.teamBadge.brighton {
	background-image: url(../img/badges/brighton.png);
}

.teamBadge.burnley {
	background-image: url(../img/badges/burnley.png);
}

.teamBadge.chelsea {
	background-image: url(../img/badges/chelsea.png);
}

.teamBadge.palace {
	background-image: url(../img/badges/palace.png);
}

.teamBadge.everton {
	background-image: url(../img/badges/everton.png);
}

.teamBadge.huddersfield {
	background-image: url(../img/badges/huddersfield.png);
}

.teamBadge.hull {
	background-image: url(../img/badges/hull.png);
}

.teamBadge.leicester {
	background-image: url(../img/badges/leicester.png);
}

.teamBadge.liverpool {
	background-image: url(../img/badges/liverpool.png);
}

.teamBadge.mancity {
	background-image: url(../img/badges/mancity.png);
}

.teamBadge.manutd {
	background-image: url(../img/badges/manutd.png);
}

.teamBadge.mboro {
	background-image: url(../img/badges/mboro.png);
}

.teamBadge.newcastle {
	background-image: url(../img/badges/newcastle.png);
}

.teamBadge.southampton {
	background-image: url(../img/badges/southampton.png);
}

.teamBadge.stoke {
	background-image: url(../img/badges/stoke.png);
}

.teamBadge.sunderland {
	background-image: url(../img/badges/sunderland.png);
}

.teamBadge.swansea {
	background-image: url(../img/badges/swansea.png);
}

.teamBadge.tottenham {
	background-image: url(../img/badges/tottenham.png);
}

.teamBadge.watford {
	background-image: url(../img/badges/watford.png);
}

.teamBadge.westbrom {
	background-image: url(../img/badges/westbrom.png);
}

.teamBadge.westham {
	background-image: url(../img/badges/westham.png);
}



@media (max-width: 767px) {
	.date{
		color: #ff005a;
		margin: 0;
	}

	.fixtures {
		text-align: center;
		border-top: 1px solid #c0c0c0;
	}

	.team.home {
		min-width: 0;
		text-align: inherit;
		margin-top: 10px; 
	}

	.team.home .teamName {
    	float: right;
    	margin-left: 5px;
	}

	.team.home .teamBadge {
    	float: left;
    	top:0;
	}	

	.team.away {
		min-width: 100%;
		margin: 15px 0 10px 0;
	}

	.versus {
		margin: 10px 80px 0 80px;
	}

	.tv {
		margin: 0;
	}

	.odds {
		display: none;
	}

}

@media (min-width: 768px) and (max-width: 1215px) {
	br {
		display: none;
	}

	.fixtures {
		font-size: 14px;
	}

	.team.home {
		min-width: 160px;
		text-align: right;
	}

	.team.away {
		min-width: 160px;
	}

	.tv {
		margin: 0;
	}

	.odds {
		display: none;
	}

}

@media (min-width: 1216px) {
	br {
		display: none;
	}
}